.navbar-category-products {
  position: relative;
}

.nav-link-title-products {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  font-family:'Lato';
}

.nav-link-title-products::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 133, 81, 0.758);
  padding-bottom: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link-title-products:hover::after {
  transform: scaleX(1);
}

.category-list-container-motion {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 10px;
  left: 0;
}

.black-filter {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  z-index: 1;
}

.category-list-container {
  display: flex;
}

.image-wrapper-category {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image-wrapper-category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper-category-new-products{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.image-wrapper-category-new-products img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .navbar-category-products {
    margin-bottom: 10px;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .navbar-center {
    text-align: center;
  }

  .searchBox {
    width: 100%;
  }

  .searchInput {
    width: 80%;
  }

  .searchButton {
    width: 20%;
  }

  .navbar-right {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {

  .nav-item {
    margin-top: 0;
  }

  .nav-link-title-products {
    font-size: 16px;
  }

  .category-list-container-motion {
    padding: 5px;
  }

  .category-list-container {
    flex-direction: column;
  }

  .image-wrapper-category {
    height: 300px;
  }
}
